
<div id="doc2" class="yui-t7">
  <div id="inner">
    <div id="hd">
      <div class="yui-gc">
        <div class="yui-u first">
          <h1>Mihir Buch</h1>
          <h2>Web Designer, Developer</h2>
        </div>
        <div class="yui-u">
          <div class="contact-info">
            <h3><a id="pdf" href="#">Download PDF</a></h3>
            <h3><a href="http://all-free-download.com/free-website-templates/">mihir@5ve.in</a></h3>
            <h3>+91-94083-07981</h3>
          </div>
          <!--// .contact-info -->
        </div>
      </div>
      <!--// .yui-gc -->
    </div>
    <!--// hd -->
    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">
          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Profile</h2>
            </div>
            <div class="yui-u">
              <p class="enlarge"> Creating new things and bringing technology closer to people is my passion. I love to design things in a way that they are so easy to use that they seem a natural extension of human abilities. Hi, I am Mihir Buch, a computer scientist from India, here to make a difference. </p>
            </div>
          </div>
          <!--// .yui-gf -->
          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Skills</h2>
            </div>
            <div class="yui-u">
              <div class="talent">
                <h2>Web Design</h2>
                <p>Putting down abstract concepts on to paper, giving the client's brand a face.</p>
              </div>
              <div class="talent">
                <h2>Web Development</h2>
                <p>Getting ideas to code quickly and cleanly.</p>
              </div>
              <div class="talent">
                <h2>Project Direction</h2>
                <p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
              </div>
            </div>
          </div>
          <!--// .yui-gf -->
          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Technical</h2>
            </div>
            <div class="yui-u">
              <ul class="talent">
                <li>XHTML</li>
                <li>CSS</li>
                <li>Responsive design</li>
                <li class="last">Javascript</li>
              </ul>
              <ul class="talent">
                <li>Wordpress</li>
                <li>PHP</li>
                <li>MVC</li>
                <li class="last">Ruby on Rails</li>
              </ul>
              <ul class="talent">
                <li>PSD to HTML/CSS</li>
                <li>SEO</li>
                <li>OOP</li>
                <li class="last">AJAX</li>
              </ul>
            </div>
          </div>
          <!--// .yui-gf-->
          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Experience</h2>
            </div>
            <!--// .yui-u -->
			 <div class="yui-u">

              <div class="job">
                <h2>Pasta Transport</h2>
                <h3>Main web application developer</h3>
                <h4>April-July 2013</h4>
                <p>A local transport company had many offices in many different locations. It was getting difficult for them to communicate and maintain all the transactional data on all the systems. This was hurting their productivity as well as there was a chance that the employees might commit a fraud. So the founder came to me to provide with a solution. So I came up with troppy a data synchronization for transport companies. Now they are able to maintain their data in a central cloud location and every update to the data is broadcasted to every user immediately. It also has access control implemented on a user level. The client is so happy with the solution that he has referred the product to a few other transport companies. </p>
              </div>
	              <div class="job">
	                <h2>Butter Studios</h2>
	                <h3>Search Engine Optimization consultant</h3>
	                <h4>March-May 2012</h4>
	                <p>The client wanted to rank better on search engines for a particular keyword. After thorough inspection of the website I found out that there was scope for improvement in the onsite seo department. The client went from being ranked outside of top 100 to within top 15 search results within 3 months of onsite optimization.</p>
	              </div>
              <div class="job">
                <h2>Six Sixty Studios</h2>
                <h3>Chief Web designer and Developer</h3>
                <h4>Febuary 2011</h4>
                <p>The client wanted a new and innovative blog + website design. He wanted the user to think he had landed on a portfolio website but as the user progressed into surfing deep in to the website he should discover all the information in a blog format. Blog + website format wasn't so popular at that time so I came up with the existing design and the client liked it. We went on to complete the website in 2 weeks.</p>
              </div>
              <div class="job last">
                <h2>Kabrus</h2>
                <h3>Project lead and chief web developer</h3>
                <h4>2009-2010</h4>
                <p>The client already had the web design in the photoshop format. He wanted me to create a working website out of the mockup in short amount of time. He also wanted to add a e-store to the website. So I suggested that he used Magento, an open source e-commerce platform. We integrated magento and implemented many complex features like "coupon systems, buy one get one free" etc features in to the website. The client was just an ebay seller prior to this but his sales skyrocketed nice he had a professional e-commerce solution in place..</p>
              </div>
            </div>
            <!--// .yui-u -->
          </div>
          <!--// .yui-gf -->

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Education</h2>
            </div>
            <div class="yui-u">
              <h2>Vishveshwariah Technological University - Belgaum, Karnataka, India.</h2>
              <h3>Bachelor of Engineering, Computer Science <strong>3.0 GPA</strong> </h3>
            </div>
          </div>
          <!--// .yui-gf -->
        </div>
		  <div class="yui-gf last">
            <div class="yui-u first">
              <h2>Connect</h2>
            </div>
            <div class="yui-u">
              <h2>Linkedin Url</h2>
              <h3><a href="http://in.linkedin.com/pub/mihir-buch/13/803/900/">http://in.linkedin.com/pub/mihir-buch/13/803/900/</a></h3>
            <br/>
              <h2>Twitter Url</h2>
              <h3><a href="http://www.twitter.com/depthtouch">http://www.twitter.com/depthtouch</a></h3>
<br/>
<h2>Facebook Url</h2>
  <h3><a href="http://www.facebook.com/bmihir">http://www.facebook.com/bmihir</a></h3>
<br/>
<h2>Github Url</h2>
  <h3><a href="https://www.github.com/mihirjb">https://www.github.com/mihirjb</a></h3>
            </div>
          </div>
        <!--// .yui-b -->
      </div>
      <!--// yui-main -->
    </div>
    <!--// bd -->
    <div id="ft">
      <p>Mihir Buch &mdash; mihir@5ve.in</a> &mdash; (+91)-94083-07981</p>
    </div>
    <!--// footer -->
  </div>
  <!-- // inner -->
</div>
<!--// doc -->
